/**
 * Grid container
 */
#main {
	margin-top: 9em;
}
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}
#tiles li:hover img{
	opacity:0.8;
}
/**
 * Grid items
 */
#tiles li {
 	width: 280px;
	background-color: #ffffff;
	border: 1px solid #dedede;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	display: none;
	cursor: pointer;
	border-radius: 0.2em;
}
#tiles li img{
	border-top-left-radius:0.2em;
	border-top-right-radius:0.2em;
}
#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
 	display: block;
	width: 100%;
}

/**
 * Grid item text
 */

footer {
  text-align: center;

}

footer a {
  color: #435DC5;
  text-decoration: none;
}

/**
 * Progress bar for imagesLoaded
 */
.progress-bar {
  background-color: #0BC20B;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  box-shadow: 0 1px 3px rgba(11, 194, 11, 0.2);
  -webkit-transition: width 0.3s ease-out;
     -moz-transition: width 0.3s ease-out;
       -o-transition: width 0.3s ease-out;
          transition: width 0.3s ease-out;
}

/**
 * Placerholder css
 */
.wookmark-placeholder {
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-color: #eee;
  border: 1px solid #dedede;
  z-index: -1;
}

.example-tiles {
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

.example-tiles li {
  display: block;
  list-style-type: none;
  float: left;
  margin: 5px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.example-tiles a,
.example-tiles a:hover {
  color: #555;
  background-color: #eee;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  padding: 5px 8px;
  border-radius: 3px;
}

.example-tiles a:hover {
  background-color: #ddd;
}
/*--media Quries for 640px-monitors-*/
@media only screen and (max-width:640px) and (min-width:480px) {
	#main {
		margin-top: 7em;
	}
}
/*--media Quries for 480px-monitors-*/
@media only screen and (max-width:480px) and (min-width:320px) {
	#main {
		margin-top: 9.5em;
	}
}
/*--media Quries for 320px-monitors-*/
@media only screen and (max-width:320px) and (min-width:240px) {
	#main {
		margin-top: 9em;
	}
	#tiles li {
		width: 266px;
	}
}

.rateit_totle{
  color: #a3a3a3;
  font-size: 15px;
  margin-left: 10px;
}
#login_btn {
  position: absolute;
  right: 30px;
  height: 40px;
  width: 80px;
  background-color: lightsalmon;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  color: maroon;
  cursor: pointer;
}
.login_status {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
.qiandao-content {
  position: absolute;
  left: 400px;
  font-size: 14px;
  bottom: 10px;
}
.qiandao-button {
  height: 40px;
  width: 80px;
  background-color: lightsalmon;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}
.trans_addr {
  height: 25px;
  width: 200px;
}
.trans_num {
  height: 25px;
}
#transfer_btn {
  height: 40px;
  width: 80px;
  background-color: lightsalmon;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  margin-top: 5px;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}
.artical-content .title {
  font-size: 30px;
}

.single-page-artical div {
  font-size: 30px;
  margin: 10px 20px;
}
.single-page-artical p {
  margin: 20px 20px;
  color: grey;
}
.single-page-artical p strong {
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
}
.was-jiangli {
  padding: 20px;
  list-style-type: disc;
}
.about-us {
  width: 680px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.about-us-wrapper {
  background-color: white;
  margin-top: 100px;
}
.about-us-wrapper p {
  padding: 20px 0;
  text-align: center;
}

.am_footer {
  padding: 0;
}
.am_footer_con {
  padding: 0;
}
.am_footer_con dd {
  position: relative;
  font-size: 12px;
  color: #787878;
  padding: 0;
  margin: 0;
  margin-left: 45px;
  margin-right: 45px;
  float: none;
  text-align: left;
}
.am_footer_link, .am_footer_don {
  display: initial;
  max-width: 1000px;
}
.am_footer_link span, .am_footer_don span {
  margin-left: 45px;
}

.am_footer { background: #222324; width: 100%;padding: 35px 0 0 0;}
.am_footer_con { max-width: 1500px; text-align: center; margin: 0 auto; overflow: hidden; padding: 0 10px 40px;-webkit-box-sizing: border-box;box-sizing: border-box;}
.am_footer_link { overflow: hidden;  display: inline-block; vertical-align: top; margin-right: 80px;}
.am_footer_link span , .am_footer_don span{ text-align:left;  font-size: 17px; color: #d3d3d3; padding-bottom: 10px; display: block; }
.am_footer_link  li { display: inline-block;}
.am_footer_link  li a{color: #d3d3d3; font-size: 14px; margin-right: 15px;}
.am_footer_link  li a:hover {  color: #ff5656;}
.am_footer_don { display: inline-block; max-width: 400px; vertical-align: top; }
.am_footer_don dt { position: relative; float: left; width: 38px; height: 38px;}
.am_footer_don dd {position: relative; font-size: 12px; color: #787878; padding: 0; margin: 0;  margin-left: 45px; float:none;padding-bottom: 35px; text-align: left;}
.am_footer_don dt img {width: 38px; height: 38px;}
.am_footer_don .footdon_az { position: absolute; bottom:0; right: 0; display: block;  border:1px solid #797979; color: #797979; border-radius: 10px; width: 85px; line-height: 18px; height: 21px;}
.am_footer_don .footdon_pg { position: absolute; bottom:0; right: 100px; display: block;  border:1px solid #797979; color: #797979; border-radius: 10px; width: 85px; height: 21px; line-height: 18px;}
.am_footer_don .footdon_pg:hover { border: 1px solid #ff5656; color: #ff5656;}
.am_footer_don .footdon_az:hover { border: 1px solid #54d669 ; color: #54d669 ;}
.foot_d_pg { width: 100%; text-align: center;}
.foot_d_az { width: 100%; text-align: center; }
.am_footer_erweima { max-width: 450px; display: inline-block;padding-left:100px;}
.am_footer_weixin { text-align: center; float: left; margin-right: 50px;}
.am_footer_weixin img {width: 82px; height: 82px; margin-bottom: 7px; display: block;}
.am_footer_ddon {text-align: center;   float: left;}
.am_footer_ddon img {width: 82px; height: 82px; margin-bottom: 7px; display: block;}
.am_footer_d_gzwx {font-size: 12px;  color: #54d669; border-radius: 10px; width: 85px; height: 21px; line-height: 18px;text-indent: 3px;text-align: left;}
.am_footer_d_dxz {font-size: 12px;  color: #797979; border-radius: 10px; width: 85px; height: 21px; line-height: 18px;text-indent: 3px;text-align: left;}